@model ShopOnline.Models.Member
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashBoard.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body" style="position: relative; left: 266px;">
                    <h4 class="card-title">Edit Profie</h4>
                    @using (Html.BeginForm("ChangePassword", "DashBoard", FormMethod.Post, new { @id = "form-1", @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-body">
                            @Html.HiddenFor(model => model.dateOfJoin)
                            @Html.HiddenFor(model => model.status)
                            @Html.HiddenFor(model => model.roleId)
                            @Html.HiddenFor(model => model.userName)
                            @Html.HiddenFor(model => model.firstName)
                            @Html.HiddenFor(model => model.lastName)
                            @Html.HiddenFor(model => model.email)
                            @Html.HiddenFor(model => model.identityNumber)
                            @Html.HiddenFor(model => model.phone)
                            @Html.HiddenFor(model => model.address)
                            @Html.HiddenFor(model => model.birthday)
                            @Html.HiddenFor(model => model.avatar)


                            <div class="form-group">
                                @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control", @id = "userName", @type = "hidden" } })
                            </div>


                            <div class="form-group">
                                <label for="userName">Current password</label>
                                <input type="password" class="form-control" id="current-password" name="CurPassword"/>
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <label for="productName">New password</label>
                                <input type="password" class="form-control" id="new-password" name="NewPassword"/>
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <label for="productName">Confirm password</label>
                                <input type="password" class="form-control" id="password_confirmation" name="Confirm"/>
                                <span class="form-message"></span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="text-left">
                                <button type="submit" class="btn btn-info">Submit</button>
                                <button type="reset" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .form-group input{
        width: 50%
    }
</style>
<script src="~/Content/js/validator.js"></script>
<script>
    Validator({
        form: '#form-1',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [

            Validator.isRequired('#current-password'),
            Validator.minLength('#new-password', 6),
            Validator.isConfirmed('#password_confirmation', function () {
                return document.querySelector('#form-1 #new-password').value;
            }, 'Passwords must match')
        ],
    });
</script>