@using ShopOnline.Models
@model List<Cart>
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutPublicPage.cshtml";
}
<script>
    var obj = document.querySelector(".navlist li:nth-child(1)");
    obj.classList.remove("active");
</script>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Check Out</h4>
                    <div class="breadcrumb__links">
                        <a href="~/Home/Index">Home</a>
                        <a href="./shop.html">Shop</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <h6 class="coupon__code">
                        <span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click here</a> to enter your code
                    </h6>
                    <h6 class="checkout__title">Billing Details</h6>
                    @{ Member user = (Member)Session["info"]; }
                    @using (Html.BeginForm("Checkout", "Cart", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                     <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Fist Name<span>*</span></p>
                                        <input type="text" name="firstName" id="firstName" value="@user.firstName">
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        <input type="text" name="lastName" id="lastName" value="@user.lastName">
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                <input type="text" name="address" id="address"value="@user.address">
                                <span class="form-message"></span>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input type="text" name="phone" id="phone" value="@user.phone">
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input type="text" name="email" id="email" value="@user.email">
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Order notes<span>*</span></p>
                                <input type="text" placeholder="Notes about your order, e.g. special notes for delivery.">
                            </div>
                            <div class="checkout__input">
                                    <button type="submit" class="site-btn order-button">SUBMIT ORDER</button>
                                    <a href="@Url.Action("PaymentWithPaypal","Cart")" class="paypal-button"><img src="~/Content/img/Orders/paypalicon.svg" /><img src="~/Content/img/Orders/paypalcontent.svg" width="20%" /></a>
                            </div>
                        </div>
                    </div>
                    }
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="checkout__order">
                        <h4 class="order__title">Your order</h4>
                        <table cellpadding="5">
                            <tr>
                                <th width="80%">Product</th>
                                <th width="20%" style="text-align: center; ">Total</th>
                            </tr>
                            @{
                                int num = 1;
                            }
                            @foreach (var i in Model)
                            {
                                <tr>
                                    <td>@num. @i.NameItem</td>
                                    <td style=" position: relative; left: 11px;"><span>$ @String.Format("{0:0,0}", i.PriceTotal)</span></td>
                                </tr>
                                num++;
                            }

                        </table>

                        <ul class="checkout__total__all">
                            <li>Total <span>$ @String.Format("{0:0,0}", ViewBag.totalPrice)</span></li>
                        </ul>
                        <div class="checkout__input__checkbox">
                            <label for="payment">
                                Check Payment
                                <input type="checkbox" id="payment">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkout__input__checkbox">
                            <label for="paypal">
                                Paypal
                                <input type="checkbox" id="paypal">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Checkout Section End -->