@using System.Web.Optimization
@using ShopOnline.Models
@{ Member user = (Member)Session["info"]; }
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion</title>

    <!--favicon-->
    <link rel="shortcut icon" type="image/png" href="~/Content/img/icon/favicon.jpg" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    @*<link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="~/Content/css/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="~/Content/css/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="~/Content/css/nice-select.css" type="text/css">
        <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="~/Content/css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
        <link rel="stylesheet" href="~/Content/css/404.css">
        <link rel="stylesheet" href="~/Content/css/formUser.css">*@
    @Styles.Render("~/bundle/css")
    <script>(function (w, d) { w.CollectId = "60827f2b34b8b76f099ef81c"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.async = true; s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="@Url.Action("Login","User")">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="~/Content/img/icon/search.png" alt=""></a>
            <a href="#"><img src="~/Content/img/icon/heart.png" alt=""></a>
            <a href="~/Cart/Cart"><img src="~/Content/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            @if (Session["info"] != null)
                            {
                <img class="avatar" src=@Url.Content(""+user.avatar) width="5%">
                                <div class="header__top__hover">

                                    <span>@user.userName <i class="arrow_carrot-down"></i></span>
                                    <ul>
                                        <li><a href="@Url.Action("EditProfie", "Home", new { userName = user.userName })">Edit profie</a></li>
                                        <li><a href="@Url.Action("ChangePassword", "Home", new { userName = user.userName })">Change password</a></li>
                                        <li><a href="@Url.Action("MyOrder", "Home", new { userName = user.userName })">My order</a></li>
                                        <li>@Html.ActionLink("Log Out", "logout", "User")</li>
                                    </ul>
                                </div> }
                            else
                            {
                <div class="header__top__links">
                    <a href="~/User/Login">Sign in</a>
                </div>}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="~/Home/Index"><img src="~/Content/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul class="navlist">
                            <li class="active"><a href="~/Home/Index">Home</a></li>
                            <li><a href="~/Shop/ProductList">News</a></li>
                            <li><a href="~/Article/ArticleList">Blog</a></li>
                            <li><a href="~/Home/About">About</a></li>
                            <li><a href="~/Home/Contact">Contacts</a></li>
                            <li>
                                <a href="#">More+</a>
                                <ul class="dropdown">
                                    @Html.Action("Categories", "Shop")
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

                @Html.Action("Navbar", "Cart")

            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->


    @RenderBody()

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="~/Content/img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="~/Content/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>
                            Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Js Plugins -->
    @*<script src="~/Content/js/jquery-3.3.1.min.js"></script>
        <script src="~/Content/js/bootstrap.min.js"></script>
        <script src="~/Content/js/jquery.nice-select.min.js"></script>
        <script src="~/Content/js/jquery.nicescroll.min.js"></script>
        <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
        <script src="~/Content/js/jquery.countdown.min.js"></script>
        <script src="~/Content/js/jquery.slicknav.js"></script>
        <script src="~/Content/js/mixitup.min.js"></script>
        <script src="~/Content/js/owl.carousel.min.js"></script>
        <script src="~/Content/js/main.js"></script>*@
    @Scripts.Render("~/bundle/js")
    <script>
    //session end
    var sessionTimeoutWarning = @Session.Timeout- 1;

    var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
    setTimeout('SessionEnd()', sTimeout);

    function SessionEnd() {
        window.location = "/User/logout";
    }
    </script>
</body>

</html>