@using System.Web.Optimization;
@using CaptchaMvc.HtmlHelpers
<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Areas/Admin/Content/assets/images/favicon.png">
    <title>Admin</title>
    <!-- Custom CSS -->
    @*<link href="~/Areas/Admin/Content/css/style.min.css" rel="stylesheet">*@
    @Styles.Render("~/bundle/admin/login/css")
</head>

<body>
    <div class="main-wrapper">
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
             style="background:url(@Url.Content("~/Areas/Admin/Content/assets/images/big/auth-bg.jpg")) no-repeat center center;">
            <div class="auth-box row">
                <div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url(@Url.Content("~/Areas/Admin/Content/assets/images/big/login.jpg"));">
                </div>
                <div class="col-lg-5 col-md-7 bg-white">
                    <div class="p-3">
                        <div class="text-center">
                            <img src=@Url.Content("~/Areas/Admin/Content/assets/images/big/icon.png") alt="wrapkit">
                        </div>
                        <h2 class="mt-3 text-center">Sign In</h2>
                        <p class="text-center">Enter your email address and password to access admin panel.</p>
                        @using (Html.BeginForm("Login", "LoginMember", FormMethod.Post, new { @id = "form-1", @enctype = "multipart/form-data", @class = "form mt-4" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark" for="uname">Username</label>
                                        <input type="text" id="username" name="username" class="form-control" placeholder="User name">
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark" for="pwd">Password</label>
                                        <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="capcha wrap-input100 validate-input" data-validate="Password is required" style="color:black">
                                            @Html.Captcha("Try-Another", "Enter the text you see above", 4, "Is required field", true)
                                            <span class="form-message"></span>
                                            <p style="color:red">@ViewBag.captcha</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="btn btn-block btn-dark">Sign In</button>
                                </div>
                            </div>
                         }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<script src="~/Areas/Admin/Content/assets/libs/jquery/dist/jquery.min.js "></script>
    <script src="~/Areas/Admin/Content/assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <script src="~/Areas/Admin/Content/assets/libs/bootstrap/dist/js/bootstrap.min.js "></script>*@
    @Scripts.Render("~/bundle/admin/login/js")
    <script>
        $(".preloader ").fadeOut();
    </script>
    <script src="~/Content/js/validator.js"></script>
    <script>
        Validator({
            form: '#form-1',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#username'),
                Validator.isRequired('#password'),
                Validator.isRequired('#CaptchaInputText'),
            ],
        });
    </script>
</body>

</html>
